.container {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 2vw;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  margin: 32px 0;
}

.terms-dropdown {
  align-self: flex-end;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 24px;
}

.graph-container {
  position: relative;
}

.toggle {
  display: flex;
  justify-content: flex-end;
}

.toggle svg {
  transform: scale(1.6);
  padding-bottom: 16px;
  padding-right: 8px;
  color: var(--blue-dark);
  cursor: pointer;
}

.graph {
  padding: 48px 16px 32px;
  border-radius: 8px;
  box-shadow: 0 1px 5px #ccc;
}

.progresses {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  padding: 36px 0px;
}

.progresses svg {
  margin-top: 40px;
  padding: 8px;
  border-radius: 8px;
  transform: scale(1.5);
  cursor: pointer;
}

.progress-header {
  text-align: center;
}

.progress-table {
  margin: 16px 0;
}

.progress-table .subject {
  margin: 32px 0;
}

.progress-table .body {
  display: flex;
  flex-direction: column;
}

.progress-table .row {
  display: flex;
}

.progress-table .data {
  width: 7vw;
  padding: 2px;
  text-align: center;
  font-weight: 300;
}

.progress-table .data.title {
  font-weight: 600;
  margin: 16px auto 8px;
}

.progress-table .data.day {
  text-transform: capitalize;
  text-align: left;
  font-weight: 600;
}
