.container {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 2vw;
}

.header {
  position: relative;
}

.body {
  margin: 32px 0;
}

.terms-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 24px;
}

.terms-dropdown {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 24px;
}

.graph-container {
  position: relative;
}

.toggle {
  position: absolute;
  top: 16px;
  right: 24px;
  z-index: 995;
}

.toggle svg {
  transform: scale(1.6);
  color: var(--blue-dark);
  cursor: pointer;
}

.graph {
  position: relative;
  padding: 56px 16px 32px;
  border-radius: 8px;
  box-shadow: 0 1px 5px #ccc;
}

.progresses {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 36px 0px;
}

.progresses svg {
  margin: 24px 8px 0;
  padding: 8px;
  transform: scale(1.5);
  cursor: pointer;
}
