.container {
  box-sizing: border-box;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.body {
  margin: 32px 0;
}

.terms-dropdown {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
}

.progresses {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  padding: 48px 0px;
}

.progresses svg {
  margin-top: 40px;
  padding: 8px;
  border-radius: 8px;
  transform: scale(1.5);
  cursor: pointer;
}

.progresses svg:hover {
  box-shadow: 0 1px 5px #ccc;
}

.progress-header {
  text-align: center;
}

.progress-table {
  margin: 16px 0;
}

.progress-table .subject {
  margin: 32px 0;
}

.progress-table .body {
  display: flex;
  flex-direction: column;
}

.progress-table .row {
  display: flex;
}

.progress-table .data {
  width: 100px;
  padding: 2px;
  text-align: center;
  font-weight: 300;
}

.progress-table .data.title {
  font-weight: 600;
  margin: 16px auto 8px;
}

.progress-table .data.day {
  text-transform: capitalize;
  text-align: left;
  font-weight: 600;
}
