.container {
  box-sizing: border-box;
  min-height: 100vh;
}

.header {
  position: relative;
}

.body {
  margin: 32px 0;
}

.terms-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

.terms-dropdown {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 24px;
}

.graph-container {
  position: relative;
}

.progresses {
  position: relative;
  width: 100%;
  padding: 36px 0px;
}

.progresses .btn-left {
  position: absolute;
  top: 72px;
  left: 0;
  transform: scale(1.5);
  cursor: pointer;
}

.progresses .btn-right {
  position: absolute;
  top: 72px;
  right: 0;
  transform: scale(1.5);
  cursor: pointer;
}
