.container {
  box-sizing: border-box;
}

.title {
  padding-left: 24px;
  height: 48px;
}

.body {
  display: flex;
  flex-direction: row;
  padding: 0 16px;
}

.sidebar {
  flex: 0;
  margin: 8px 0;
}

.content {
  flex: 1;
  padding: 0;
}
