.container {
  box-sizing: border-box;
  height: 100%;
  margin: 0 24px;
}

.header {
  position: relative;
}

.main {
  margin: 24px 0;
}

.terms-container {
  /* margin-bottom: 24px; */
}

.terms-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.terms-info {
  text-align: center;
  padding: 16px 0;
}

.graph-container {
  position: relative;
}

.progresses-empty {
  display: grid;
  place-content: center;
  place-items: center;
  height: 60vh;
}

.progresses {
  position: relative;
  width: 100%;
  padding: 36px 0px;
}

.progresses .btn-left {
  position: absolute;
  top: 72px;
  left: 0;
  transform: scale(1.5);
  cursor: pointer;
}

.progresses .btn-right {
  position: absolute;
  top: 72px;
  right: 0;
  transform: scale(1.5);
  cursor: pointer;
}
