.container {
  box-sizing: border-box;
  height: 100%;
}

.header {
  position: relative;
}

.body {
  margin: 32px 0;
}

.terms-container {
  margin-bottom: 24px;
}

.terms-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.terms-info {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.terms-dropdown {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 24px;
}

.graph-container {
  position: relative;
}

.progresses-container {
}

.progresses-empty {
  display: grid;
  place-content: center;
}

.progresses {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 36px 0px;
}

.progresses svg {
  margin: 24px 8px 0;
  padding: 8px;
  transform: scale(1.5);
  cursor: pointer;
}
