.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 32px;
  margin: 8px 0;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: none;
}

.button:focus {
  outline: 0;
}

.button[disabled] {
  cursor: not-allowed;
  border-color: rgb(200, 200, 200);
  box-shadow: 0 0 0 2px rgb(180, 180, 180);
}

.primary {
  border: 1px solid var(--black-light);
  border-radius: 24px;
  color: var(--black-light);
  background: linear-gradient(to right, var(--green-light) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
}

.primary:hover:not([disabled]) {
  background-position: left bottom;
  border: 1px solid var(--green-dark);
  color: var(--black);
  font-weight: 500;
}

.secondary {
  border: none;
  border-left: 1px solid var(--yellow-dark);
  background: transparent;
}

.xs {
  padding: 8px 36px;
}

.sm {
  padding: 8px 48px;
}

.md {
  padding: 8px 64px;
}

.lg {
  padding: 8px 80px;
}

.fullWidth-true {
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
