.container {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 24px;
  margin: 8px 2px;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: none;
}

.button svg {
  color: var(--blue-dark);
  transform: scale(1.2);
  padding: 4px 0;
}

.button:disabled svg {
  color: var(--white-dark);
}

.button:hover svg {
  color: var(--blue-dark);
}

.button:focus {
  outline: 0;
}

.button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  color: #ccc;
}

.primary {
  border: 1px solid #ccc;
  border-radius: 8px;
  color: var(--black-light);
  background: linear-gradient(to right, var(--blue-dark) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
}

.primary:hover:not([disabled]) {
  background-position: left bottom;
  border: 1px solid var(--green-dark);
  color: var(--black);
  font-weight: 500;
}

.secondary {
  border: none;
  background: transparent;
  letter-spacing: 1px;
  padding: 0;
  font-weight: 300;
}

.xs {
  padding: 10px 32px;
}

.sm {
  padding: 10px 40px;
}

.md {
  padding: 12px 64px;
}

.lg {
  padding: 12px 80px;
}

.fullWidth-true {
  width: 100%;
}

.align-start {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

.align-end {
  justify-content: flex-end;
}
