.dropdown {
  position: relative;
  display: inline-block;
  z-index: 999;
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}

.dropdown-right {
  float: right;
  margin-top: 15px;
}

.dropdown-content-right {
  right: 0;
}

.dropdown-content {
  outline: none;
  position: absolute;
  background: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  max-height: 400px;
  min-width: 150px;
  overflow-y: auto;
  border-radius: 8px;
  z-index: 999;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  min-width: 175px;
}

.dropdown-item {
  color: #333333;
  display: block;
  font-size: 90%;
  padding: 10px;
}

.dropdown-item a {
  text-decoration: none;
  color: inherit;
}

.dropdown-action {
  cursor: pointer;
  padding: 12px 16px;
}

.dropdown-action:hover {
  font-weight: bold;
}

.trigger {
  cursor: pointer;
  user-select: none;
}

.icon svg {
  cursor: pointer;
  transform: scale(1.2);
  color: var(--blue-dark);
}

.section-title {
  padding: 15px 15px 0 15px;
  font-size: 102%;
}