.menu-container {
  position: relative;
}

.menu {
  outline: none;
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  margin-top: 8px;
  width: 256px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  z-index: 999;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
  cursor: pointer;
  font-size: 16px;
}

.menu li button {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.menu li span {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
  font-size: 16px;
}

.trigger {
  background: transparent;
  cursor: pointer;
  padding: 4px 6px;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.trigger span {
  font-weight: 300;
  font-size: 16px;
  margin: 0 10px;
  letter-spacing: 1px;
  outline: none;
}

.icon svg {
  cursor: pointer;
  transform: scale(1.2);
  color: var(--blue-dark);
}
