.container {
  position: absolute;
  height: 72px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0px 32px;
}

.logo {
  position: relative;
  cursor: pointer;
  width: 200px;
}
