.container {
  display: flex;
}

.select {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  margin: 8px 0;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: none;
  width: 300px;
  text-transform: capitalize;
}

.align-start {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

.align-end {
  justify-content: flex-end;
}
