.sidebar {
  background: transparent;
  width: 256px;
  height: 100%;
  padding: 108px 8px 64px;
  margin-right: 24px;
}

.sidebar-item {
  display: block;
  padding: 16px 24px;
  border-radius: 8px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--black);
}

.sidebar-item:hover {
  background: var(--green-dark);
  color: var(--white);
  cursor: pointer;
}
