.default {
  font-size: 100%;
}

.title {
  font-size: 200%;
  font-weight: 700;
}

.subtitle {
  font-size: 160%;
  font-weight: 500;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
