.default {
  font-size: 100%;
}

.title {
  font-size: 200%;
  font-weight: 700;
  padding-bottom: 4px;
}

.subtitle {
  font-size: 140%;
  font-weight: 500;
  padding-bottom: 4px;
}

.subtitle1 {
  font-size: 110%;
  font-weight: 300;
  padding-bottom: 4px;
}

.caption {
  font-size: 90%;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 4px;
}

.info {
  font-weight: 600;
  padding-bottom: 4px;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}
