.progress {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  grid-template-columns: repeat(6, 1fr);
  place-items: end center;
  gap: 16px;
  padding: 24px 0;
}
