.progress-header {
  text-align: center;
}

.progress-table {
  margin: 16px 0;
}

.progress-table .subject {
  margin: 32px 0;
}

.progress-table .body {
  display: flex;
  flex-direction: column;
}

.progress-table .row,
.row-data {
  display: flex;
  cursor: pointer;
  padding: 4px;
}

.progress-table .row-data:hover {
  background: var(--blue-dark);
  color: var(--white);
  border-radius: 4px;
}

.progress-table .data {
  width: 7vw;
  padding: 2px;
  text-align: center;
  font-weight: 300;
}

.progress-table .data.title {
  font-weight: 600;
  margin: 16px auto 8px;
}

.progress-table .data.day {
  text-transform: capitalize;
  text-align: left;
  font-weight: 600;
}

.form {
  padding: 8px;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}

.inputs .checkbox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* @media (max-width: 1400px) {
  .inputs {
    grid-template-columns: auto;

    grid-template-areas:
      'sidebar'
      'content';
  }
} */
