.container {
  margin: 16px 0;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 16px;
  max-height: 300px;
  width: 300px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.notification {
  padding: 8px;
  border-radius: 8px;
}

.notification:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.header {
  margin: 8px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.footer svg {
  margin: 0 4px;
  padding: 4px;
  transform: scale(1.1);
  color: var(--blue-dark);
}

.footer svg:hover {
  cursor: pointer;
}

.footer .type {
  background: var(--purple-dark);
  color: var(--white);
  padding: 4px 8px;
  border-radius: 8px;
}
