.container {
  composes: wrapper from '../gui/Container.module.css';
  overflow: hidden;
  background-color: var(--yellow-light);
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  padding-top: 96px;
  padding-bottom: 48px;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border-radius: 16px;
  width: 100%;
  min-height: 100%;
  box-shadow: 0 1px 5px #ccc;
}

.img-container {
  width: 100%;
}

.img {
  display: block;
  width: 350px;
  margin: 0 auto;
}
