.container {
  composes: wrapper from '../gui/Container.module.css';
  overflow: hidden;
  background-color: var(--blue-light);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--white);
  border-radius: 16px;
  width: 80vw;
  height: 75vh;
  flex: 50%;
  padding: 16px 0;
}

.img-container {
  flex: 1;
  width: 100%;
  padding: 0 72px;
}

.img {
  display: block;
  width: 550px;
  margin: 0 auto;
}

.content {
  flex: 1;
  width: 100%;
  position: relative;
  padding: 0 72px;
}
