.container {
  composes: wrapper from '../gui/Container.module.css';
  overflow: hidden;
  background-color: var(--yellow-light);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  background: var(--white);
  border-radius: 16px;
  width: 20vw;
  height: 75vh;
  padding: 16px;
  margin-right: 16px;
}

.body {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  background: var(--white);
  border-radius: 16px;
  width: 60vw;
  height: 75vh;
  padding: 16px;
}
