.container {
  display: grid;
  grid-template-columns: max-content;
  grid-template-areas: 'sidebar content';
  box-sizing: border-box;
  margin: 8px 0;
}

.sidebar {
  grid-area: sidebar;
  margin: 12px 0;
}

.title {
  padding-left: 21px;
}

.content {
  grid-area: content;
  margin: 4px 16px;
}

.students-list {
  height: 150px;
  overflow-y: scroll;
  box-shadow: 0 1px 5px #ccc;
  padding: 8px;
  margin-bottom: 16px;
}
