.container {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.share {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.share:hover {
  box-shadow: 0 1px 5px #ccc;
}

.share svg {
  color: var(--blue-dark);
  padding-left: 4px;
  padding-right: 12px;
  transform: scale(1.2);
}

.share .text {
  font-weight: 300;
}

.body {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 0;
  margin: 32px 0;
}

.content {
  flex: 1;
  padding: 32px 0;
}

.students-list {
  height: 150px;
  overflow-y: scroll;
  box-shadow: 0 1px 5px #ccc;
  padding: 8px;
  margin-bottom: 16px;
}

.link-container {
  display: flex;
}

.link {
  flex: 1;
}

.button {
  flex: 0 0 120px;
  margin-top: 8px;
}
