.container {
  display: flex;
  /* flex-direction: row;
  justify-content: space-around; */
  background-color: var(--yellow-light);
  box-sizing: border-box;
  min-height: 100vh;
}

.sidebar {
  flex: none;
  align-self: flex-start;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 8px;
  padding: 64px 8px;
}

.home {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 24px 0;
}

.home svg {
  transform: scale(2);
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #bbb;
  border-radius: 2% 35%;
  margin: 24px 0;
  text-decoration: none;
  color: var(--black);
  outline: none;
  transition: transform 0.5s;
  box-sizing: border-box;
  /* transform-origin: right bottom; */
  /* transition: all 3.5s ease-in-out; */
  /* transition: 0.3s width ease-in-out; */
}

.bubble:hover {
  cursor: pointer;
  background: var(--blue-dark);
  box-shadow: 0 1px 5px #ccc;
  transform: scale(1.2);
}

.tab {
  padding: 8px 0px;
  margin: 8px 0;
  border-left: 4px solid transparent;
  transition: transform 0.4s ease-out;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  margin: 16px 16px 16px 0;
  border-radius: 16px;
  background: var(--white);
  box-shadow: 0 1px 5px #ccc;
}

.content {
  flex: 2 1 auto;
  padding: 48px 64px 48px 48px;
  border-radius: 16px;
  background: #fafafa;
}

.menu {
  flex: 0 0 300px;
  padding: 32px;
  margin-top: 24px;
}
