.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

.list {
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 16px;
  background: var(--white);
}

.list-empty {
  padding: 16px 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 24px;
}

.item a {
  text-decoration: none;
  color: var(--black);
  outline: none;
}

.item:last-child {
  border: none;
}

.actions svg {
  color: var(--blue-dark);
  cursor: pointer;
  margin: 0 4px;
  padding: 4px 6px;
  transform: scale(1.2);
}

.checkboxes {
  display: flex;
  justify-content: center;
}
